<!-- Works List Navigation -->
<section class="worksListInfoPane">
  <nav class="worksListNav">
    <a class="worksListLink" href="/works/by_medium/">
        Browse Works By Medium
    </a>      
    <a class="worksListLink selected" href="/works/by_location/">
        Browse Works By Location
    </a>   
    <a class="homeLink" href="/">
        Home
    </a>
  </nav>
</section>

<section class="worksList"> 

    <% 
        index = 0 
        @location_collection.sort.each do |location, works|  
    %>
    
        <h2 class="location" style="background: hsl(<%= @color_steps[index] %>)"><%= location %></h2>
    
        <ul>
            <% works.each do |work| %>
                <li>
                    <%= link_to (work.artist.name + " <em>(" + work.medium + ")</em>").html_safe, work %> 
                </li>
            <% end %>
        </ul>
    
    <% 
        index += 1
        end 
    %>
</section>
