<% title 'Browse Works by Medium' %>
<% description 'Browse Works by Medium | See all the works, listed by media and art work type | TELEPHONE: An International Arts Experience Presented by Satellite Collective' %>
<% keywords 'art, game, international, experiment, nathan langston, daniel talsky, satellite collective' %>

<!-- Works List Navigation -->
<section class="worksListInfoPane">
  <nav class="worksListNav">
    <a class="worksListLink selected" href="/works/by_medium/">
        Browse Works By Medium
    </a>      
    <a class="worksListLink" href="/works/by_location/">
        Browse Works By Location
    </a>   
    <a class="homeLink" href="/">
        Home
    </a>
  </nav>
</section>

<section class="worksList">
    <% @media_collection.sort.each do |medium, works| %>
    
        <h2 class="category<%= medium %>"><%= medium %></h2>
    
        <ul>
            <% works.each do |work| %>
                <li>
                    <%= link_to work.artist.name, work %> 
                </li>
            <% end %>
        </ul>
    
    <% end %>
</section>
