<h1>Listing works by medium</h1>

<% @media_collection.sort.each do |medium, works| %>

    <h2><%= medium %></h2>

    <ul>
        <% works.each do |work| %>
            <li>
                <%= link_to work.title, work %> 
                <em>
                    (<%= work.work_representations.count %> 
                    <%= 'file'.pluralize(work.work_representations.count) %>)
                </em>
            </li>
        <% end %>
    </ul>

<% end %>

