<h1>Admin Control Panel</h1>

<h2>Importing Data</h2>
<p>Don't do this unless you know what you're doing ;)</p>
<ol>
    <li><a href="/admin/data/import_spreadsheet">Import the spreadsheet</a> </li>
    <li><a href="/admin/data/import_work_representations">Import the work representations</a></li>
    <li><a href="/admin/data/populate_tour">Populate the tour stops</a></li>
</ol>