<!-- Essay Navigation -->
<section class="essayInfoPane">
  <nav class="essayNav">
    <a class="essaysHomeLink" href="/pages/essays/">
        <h1>Essays</h1>
        <h2>Thinking About Telephone</h2>
    </a>      
    <a class="homeLink" href="/">
        Home
    </a>
  </nav>
</section>