<% title 'About Telephone Game' %>
<% description 'About Telephone Game | What is TELEPHONE?  How to explore TELEPHONE. About TELEPHONE Online | TELEPHONE: An International Arts Experience Presented by Satellite Collective' %>
<% keywords 'art, game, international, experiment, nathan langston, daniel talsky, satellite collective' %>

<section class="pagesInfoPane">
  <nav class="pagesNavList">
    <a class="homeLink" href="/">
        Home
    </a>
  </nav>
</section>

<article class="pageContent">
    <h1>About Telephone Game</h1>
        
    <p>
        <em>
        Would you like to be a supporter of Telephone Game, or just be kept in touch about interesting developments in the project?
        <!-- vendini --> 
        <a href="https://www.vendini.com/ticket-software.html?j=5e7dc8f0af6a5090e0df74b0266f6bfe&t=join" onclick="window.open('https://www.vendini.com/ticket-software.html?j=5e7dc8f0af6a5090e0df74b0266f6bfe&t=join', 'order_window', 'scrollbars,width=611,height=510,status=yes,left='+((window.screen.width - 611)/2)+',top='+((window.screen.height - 510)/2.5)).focus();return false;" onMouseOver="window.status='Join Now!';return true;"     onMouseOut="window.status='';return true;">Sign up for the Telephone Game mailing list.</a>
        <!-- /vendini -->
        </em>
    </p>
    
    <h2>What is TELEPHONE?</h2>
    <p>
        TELEPHONE works just like the children&#8217;s game of the same name. Also called Operator, Grapevine, Phonebook, Ear-To-Ear, TELEPHONE is simple. One
        person comes up with a message and whispers it to another person. That person whispers to the next person. As the whispered message travels through it the
        sequence of players, the message changes, it evolves, it surprises.
    </p>
    <p>
        In our game of TELEPHONE, we whispered the message from art form to art form. So the message could become poetry, then a painting, then music, then film,
        and so on. Each artist was only aware of the work of art that directly preceded her or his own. Each artist received a work and was told to translate the
        message into the language of his or her own art form.
    </p>
    <p>
        The other twist was that when an artist sent back their interpretive work, we then &#8220;whispered&#8221; it to two or three other artists. Instead of
        progressing in a single, straight line, our game of TELEPHONE branched out exponentially like a family tree. This interactive, online exhibition presents
        315 original and interconnected works in 18 different art forms, created specifically for this experiment by artists from 159 cities in 42 countries. And
        it all originated with a single message.
    </p>
    <h2>How to Explore TELEPHONE</h2>
    <p>
        On the Homepage, click &#8220;Begin.&#8221; You will see the original message. In the top right of your screen, you&#8217;ll see different colored dots,
        each a different interpretation of the message. You can decide, &#8220;I want to see this as a painting, or a film, or a drawing.&#8221; Click the dot to
        see a subsequent work. There, you&#8217;ll see a button called &#8220;More Info.&#8221; If the artist supplied us with biographical information,
        that&#8217;s where you&#8217;ll find it.
    </p>
    <p>
        Keep clicking the dots in the upper right hand corner and you can follow a sequence to the end. You can click &#8220;Back to Start,&#8221; and follow a
        completely different pathway. At the end of each sequence is also a button called &#8220;Random Work.&#8221; Click it and it will show you a work from
        somewhere else in the exhibition.
    </p>
    <p>
        There&#8217;s also a Map or Treeview. If you click on this, you can see the entire structure of TELEPHONE. Each art form is color-coded. If you hover your
        cursor over a dot, you&#8217;ll get a little info about the work and artist. If you click a dot, it will take you to that work of art.
    </p>
    <p>
        From the Homepage, you can also click &#8220;Browse.&#8221; You can browse all the works of art by Medium or by Location. If you click on the name of an
        artist, it will take you to the work that they contributed. The Homepage also includes a curated Tour to show you how TELEPHONE works, curatorial Essays,
        Links to some related sites, and a list of our Sponsors.
    </p>
    <p>
        Look and listen closely and enjoy exploring TELEPHONE: An International Arts Experiment.
    </p>

    <p><strong>A Note On Sales</strong></p>
    <p>
        Unless otherwise noted, all works exhibited in TELEPHONE are for sale. For further
        information, please contact Nathan Langston at <a href="mailto:press@satellite-collective.org">press@satellite-collective.org</a>.
    </p>
    
    <h2>About TELEPHONE Online</h2>
    
    <p>
        TELEPHONE Online is what you're looking at: a tool developed over the last two years to allow people from all over the world to view the works and 
        their relationship to each other.  It was developed by Daniel Talsky, Satellite Collective's Technology and Interactive director.  
        The user experience and visual design was created by designer Matthew Dabrowiak.  
        Additional programming help came from Jonathan Harford and Julian Klappenbach.
    </p>
    
    <p>
        TELEPHONE Online was developed using open source technologies including: 
        The <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> web framework, 
        a <a href="http://www.postgresql.org/" target="_blank">PostgreSQL</a> database, 
        the <a href="http://unicorn.bogomips.org/" target="_blank">unicorn</a> application server,
        <a href="http://git-scm.com/" target="_blank">git</a> version control system, and
        the <a href="https://jquery.com/" target="_blank">jQuery</a> javascript library for interactivity.
    </p>
    
    <h2>TELEPHONE Work Group</h2>
    <p>
        <strong>Nathan Langston</strong>, TELEPHONE Creator and Director
    </p>
    <p>
        Nathan would like to thank:
        <em>
            Ingrid for loving me and teaching me more about art than anyone. Thanks to Wynn Kramarsky and Rachel Nackman for letting me listen in at their lunch
            table. Deepest gratitude to Hermann Hesse for writing &#8220;The Glass Bead Game,&#8221; a novel that heavily inspired this game.
        </em>
    </p>
    <p>
        <em>
            Most importantly, to the artists that participated. This project is built upon your generosity and talent. Wherever you are, whatever you&#8217;re
            working on, you have my love. TELEPHONE belongs to you.
        </em>
    </p>
    <p>
        <strong>Daniel Talsky</strong>, Director, Technology and Interactive
    </p>
    <p>
        Daniel Would like to thank:
        <em>
            Thanks to Nathan Langston for a damned good idea. Kevin Draper for being our fearless leader. Thanks to my friends Amanda Clegg Lyon and Carin Cahn for
            submitting as artists. Thanks to Jonathan Harford for helping me get the programming off the ground. Thanks to Janice Kidd for being the most intense
            editor ever. Thanks to Deneice O'Connor for hanging out and keeping me company quietly, while I worked.
        </em>
    </p>
    <p>
        <strong>Matt Dabrowiak</strong>, User Experience and Design
    </p>
    <p>
        <strong>Kevin Draper</strong>, Satellite Collective Creative Director
    </p>
    <p>Kevin would like to thank:<em>
                Thanks to the core creative team members who share the vision of the collective and 
        know how to bring a good idea to life. Thank you Lora, for sharing a dream. Thanks 
        especially to the institutions and many individuals who make up our friends and 
        family.
        
        Special thanks to the international community of artists who played and formed a 
        global community so enthusiastically!</em>
    </p>
    <p>
        <strong>Daniel Padnos</strong>, Satellite Collective Board Member
    </p>
        Daniel would like to thank: <em>Nathan Langston, the Satellite Collective and all of the     
        participating artists for creating this "game" and playing it so splendidly. Viewing and 
        working with it is as much an honor as a pleasure.</em>
    <p>
        <strong>Jonathan Harford</strong>, Web Developer
    </p>
</article>
