<h1>More About Telephone Game</h1>

<p>
This game works almost exactly like the kids' game "telephone," also known as operator, ear-to-ear, and many other names the world over. 
One player devises a message, and that message is whispered to the next person, who whispers it to the next and the next. The message evolves as it travels, 
surprising and confounding the players. Rather than simply passing our message from person to person via language alone, Satellite Collective is 
passing it from art form to art form. A message in music might become a poem, which might become a film, and then a dance work, and so on. 
</p>
<p>
The process begins with a very specific message we're "whispering" from artist to artist, but each participant will have access only to the work directly 
preceding his own. None of the players will know the full evolution of the message until the end. As in the original game, the progression is a secret. 
</p>
<p>
The threads will also branch out: A single painting may be assigned to two or three other artists. When we publish the final succession of works on Transmission, 
the viewer will be able to follow one thread to the end, go back to the beginning, and choose a different route through the series of art works.    
</p>
