<h1>Telephone Game Essays</h1>

<h2>Telephone: An Introduction to a Game of Forms</h2>
<div class="author">By Nathan Langston</div>

<p>
    <strong>One.</strong>
</p>
<p>
    I was so lonely, so desperately homesick. Five years ago, I moved from Portland, Oregon to New York City. Compared to Portland, New York is an oceanic and
    violent metropolis; the mass, momentum, and velocity of which I couldn&#8217;t fathom. I felt so tiny, so fragile. On that first broiling night in the
    sweat-sticky August of this colossal city, I sat out on a friend&#8217;s fire escape with a glass of wine and, as sirens passed below, remembered a prayer.
</p>
<p>
    &#8220;Oh God, Thy Sea is So Great and My Boat is So Small.&#8221;
</p>
<p>
    It&#8217;s called the <a href="http://www.jfklibrary.org/Asset-Viewer/S401xjTakEKtasb2kOTYXw.aspx">Breton Fisherman&#8217;s Prayer</a> and I don&#8217;t
    know how I came to know it but it&#8217;s very old and of unknown provenance. A nuclear submarine commander once gave it as a little plaque to President
    Kennedy, who admired it and kept it on his desk. It sat there during the Cuban Missile Crisis. I imagine that, as the world teetered on the precipice of
    full-scale nuclear war, Jack looked at that prayer and thought about it. I bet he felt lonely too. I bet he felt so small.
</p>
<p>
    <strong>Two.</strong>
</p>
<p>
    <em>Interdisciplinary art</em>
    is often a useless term. It&#8217;s a bit of a catchword for press releases, mostly indicating a couple art forms performing their functions at the same
    time or in the same vicinity. Usually, there&#8217;s actually very little &#8220;<em>Inter</em>&#8221; about it. But trying to make an honest study of the
underlying mechanics of exchange between different forms of art is, in practice,    <a href="http://www-personal.umich.edu/~siglind/ekphr.htm">a spectacularly difficult enterprise</a>.
</p>
<p>
    Ballet speaks in a different language than painting. Music and sculpture have different vocabularies, different vernaculars. There are real differences
    between how experience is expressed through poetry and film. Translating accurately from French to Japanese is hard but accurately translating from one
    form of art to another is exponentially more complicated.
</p>
<p>
    That said, these different art forms <em>should</em> talk to each other. They ought to have conversations in the same way that our various senses have
    conversations. A glass of wine consists of its shape, temperature, taste, color, smell, texture, weight; many different sensations elegantly laced together
    into a single concept in the mind. Similarly, two or more forms of art working in conjunction can constitute a powerful method of expression, presenting a
    fuller experience.
</p>
<p>
    <strong>Three.</strong>
</p>
<p>
    Telephone is such a simple game. One person whispers a message to another person, who whispers it to another. The message evolves as it is translated and
    mistranslated from person to person. It&#8217;s an illustration of how ideas spread through human interaction. It&#8217;s practically biological. After
    all, that&#8217;s how life evolves, by translating and mistranslating information from one generation to the next.
</p>
<p>
    Geographically, the game of Telephone is ubiquitous, going by countless names. It is called Rumors, Telefono Roto, Chinese Whispers, Ear-To-Ear, Grapevine,
    and Operator. It&#8217;s called Dengon, Telefono Senza Fili, Passaparola, Telefon Shavur, Hviskeleken, Gluchy Telefon, Dare Gooshi, Piramide, Telefono
    Descompuesto, and Stille Post, among many other names. This elemental game is played everywhere on earth, partly because it&#8217;s free, simple, funny,
    and works in any language.
</p>
<p>
    Employing this game as an artistic technique is nothing new. The surrealists, led by Andre Breton at 54 rue de Chateau in Paris, played a similar game,
    calling it <a href="http://en.wikipedia.org/wiki/Exquisite_corpse">Exquisite Corpse</a> (Cadavre Exquis). Their game got its name from a phrase that arose
    in the first playing of it, &#8220;<em>The exquisite corpse shall drink the new wine.</em>&#8221; But the game existed long before the surrealists got hold
    of it and long before the telephone had even been invented. In the eighteenth century, it was known in Europe as a parlor game called
    &#8220;Consequences.&#8221; But even then, the game had been around for a long, long time.
</p>
<p>
Like the Breton Fisherman&#8217;s Prayer, the game of Telephone is very old and of unknown provenance. Like    <a href="http://en.wikipedia.org/wiki/Rock-paper-scissors">Roshambo</a> (Rock Paper Scissors), Telephone is so simple, so basic, that it doesn&#8217;t seem
    like a stretch to think that people have been playing some form of it for thousands of years. Is it older than chess? Who knows? Because of its simplicity,
    no one ever bothered to write down the rules, thus leaving no tangible historical record. Instead, the game itself was passed down from generation to
    generation by word of mouth. In that way, Telephone is, itself, a game of Telephone.
</p>
<p>
    <strong>Four.</strong>
</p>
<p>
There is an ancient Greek term for the translation of one art form into another. They called it    <em><a href="http://en.wikipedia.org/wiki/Ekphrasis">ekphrasis</a></em>. It was originally a useful rhetorical teaching method. Literally, ekphrasis means
    &#8220;Out Speak,&#8221; or &#8220;Speak Out,&#8221; or &#8220;To Give Voice.&#8221; Thousands of years ago, teachers of rhetoric would sit their students
    down in front of a painting or a vase or a sculpture and ask those students to describe the visual object with words.
</p>
<p>
    The point of the exercise was to learn to use words so eloquently and so precisely that a person who had never seen the visual work could feel as though he
    or she was looking at it, smelling it, touching it, hearing the art work speak for itself. It was (and is) a difficult exercise. Just ask any art critic or
    art historian. It&#8217;s part formal analysis and part storytelling based on context. In this way, ekphrasis was one of the earliest forms of art
    criticism and a foundational pillar of art history as we know it.
</p>
<p>
    The Greeks used ekphrasis to mean the process of translating a visual work of art into a linguistic one. But, in actuality, any form of art can give voice
    to any other form of art. Poetry can describe a dance. Dance can speak out on behalf of a play. A play can translate a painting. And a painting can read a
    poem to the eyes.
</p>
<p>
    <strong>Five.</strong>
</p>
<p>
When Telephone first started, five years ago, the Internet was not involved. I wrote out the message for a painter. Then I took her physical<a href="/works/2">painting</a>across town (carefully) on the subway and set it down in front of a poet. Then I handed that    <a href="/works/5">poem</a> to a photographer, who kept it wrinkled up in his pocket until inspiration struck in a southwestern desert of the
United States. That <a href="/works/12">photograph</a> was delivered to a writer at Columbia University and his<a href="/works/16">story</a> went to a sculptor, who made her ghostly work in a dirt pit. A musician then translated her    <a href="/works/29">sculpture</a> into an hour-long work of ambient <a href="/works/32">music</a>. The process took forever but at
    least I was feeling less lonely.
</p>
<p>
    The problem was that if an artist agreed to play but then took longer than a month or completely bailed out, the whole process came to a standstill. It
took over fifteen months to produce a sequence of eight different forms of art. Then, as I got wrapped up with    <a href="http://satellitecollective.org/">Satellite Collective</a> and our ballets and films and compositions and publications, Telephone was put aside.
    But I couldn&#8217;t get it out of my mind. Telephone haunted me! That first sequence of works was so stunning that I dreamt about it. The idea woke me up
    at night.
</p>
<p>
    Two and a half years ago, I sat down with Satellite Collective&#8217;s Online Director, Daniel Talsky, in the warm din of a comfy tavern in Brooklyn. Over
    ales, he sketched out on a napkin how Telephone could be transposed to the Internet on a much larger scale.
    <em>
        This is the parent node, sibling node, child node. This is how file names need to be formatted to set up automatic imports in proper order. We need
        videos to be converted into this format and music to be converted into this format. This is how the CMS will be built.
    </em>
    He warned me then how much work this project was going to be, but I was too excited and na&#239;ve to listen.
</p>
<p>
    For one, it was decided at that meeting that, instead of assigning a finished work to a single artist, we&#8217;d assign each interpretation to two or
    three other artists. Instead of charting a straight line, our game of Telephone would branch out exponentially like a family tree. The practical reason for
this network of threads was that if one artist dropped out, two other sequences would continue to progress. (The military invested in developing    <a href="http://en.wikipedia.org/wiki/ARPANET">the earliest forms of the Internet</a> for similar reasons.) So, for Telephone, each thread of artistic
    influence could now develop in our game at differing rates.
</p>
<p>
    That&#8217;s the utilitarian reason. The theoretical reason behind allowing Telephone to branch out exponentially is another story.
</p>
<p>
    <strong>Six.</strong>
</p>
<p>
    There is no such thing as a perfect translation. In art, there&#8217;s no 1:1 ratio. That&#8217;s a fact. You cannot flawlessly translate a novel into a
    film and everyone knows it. Three translators can translate a single poem in three different ways. The thing is, those three translations may be equally
    &#8220;accurate.&#8221; What one translation gives up in rhyme, it makes up for with intention. One translation might not be very exacting in an
    intentional sense but captures the musical spirit of the original poem. One translation might be precise with the original rhythm but takes liberties with
    the imagery. None of these translations are perfect but they may each be equally &#8220;accurate&#8221; translations.
</p>
<p>
    In physics, this is similar to the <a href="http://en.wikipedia.org/wiki/Multiverse">multiverse theory</a>. At each juncture of possible divergence, at
    each moment of choice, all of the possible effects of a single cause occur simultaneously, creating perpendicular realities. This is a supremely
contentious theory in physics. Scientists and engineers built    <a href="http://home.web.cern.ch/topics/large-hadron-collider">the most expensive and complicated particle collider in history</a> ($6,400,000,000.00 USD)
    to try to put the argument to rest. The physicists haven&#8217;t decided yet but, in art, the matter has long been settled.
</p>
<p>
    Three people can look at the same painting and have three different experiences. Assuming none of those people are intentionally lying, all of those
individual experiences can be granted as valid. It&#8217;s not that there&#8217;s no such thing as a bad translation or incorrect interpretation. There    <em>are</em> bad translations! It&#8217;s just that it&#8217;s possible that differing interpretations can be simultaneously and equally
    &#8220;true.&#8221;
</p>
<p>
    In Telephone, by creating multiple translations of single works of art, visitors can compare and contrast the ways in which the artists transformed a work
    into their own vernacular and vocabulary. By looking at the differences between how film and music and painting all interpret a single work, we can come to
    understand the inherent strengths and difficulties of each art form (for example, it&#8217;s hard for dance to perfectly translate the phrase, &#8220;A Red
    Chair&#8221;). We get to watch as each branch of the family tree develops its own character. Art history is the same way. It isn&#8217;t a single, linear
    narrative. One interpretive thread branches off in this direction while another moves along a different path. <em>Two roads diverged in a yellow wood</em>
    and we took both of them. Art history is a multiverse.
</p>
<p>
    <strong>Seven.</strong>
</p>
<p>
    While flawless ekphrasis is impossible between art forms, some measure of translation and communication is certainly viable. As in translation from
language to language, accurate translation from one art form to another depends on finding common reference points. For example, you might argue that    <em>rhythm</em> is an intrinsic gift of music. But poetry and prose use rhythm, too. And if the edited shots of a film are well cut, it is because they
    create good rhythm. Even a non-temporal form like a painting can divide the process of looking into rhythmical beats.
</p>
<p>
    Let&#8217;s do <em>harmony</em>. Again, this is usually associated with music, with thirds or fifths or sevenths. It&#8217;s a proportionality of
    frequencies. But different colors and volumes of color can also have harmony. In my life, I felt this most acutely while looking at one of
    <a
        href="https://www.google.com/search?q=mark%20rothko&amp;safe=off&amp;espv=2&amp;biw=1254&amp;bih=667&amp;source=lnms&amp;tbm=isch&amp;sa=X&amp;ei=oQb_VNW3HYWuggSXzICABQ&amp;ved=0CAYQ_AUoAQ"
    >
        Mark Rothko paintings
    </a>
    at San Francisco Museum of Modern Art. I think it was <em>No. 14</em>. It was <em>humming</em> at me! The biggest physical volume of color in a work felt
    like the bass note or the key and the smaller color fields constituted the harmonic voices. Sizes of color can reverberate as chords.
</p>
<p>
Every art form synesthetically overlaps with every other art form, in some way or another, which allows for an attempt at real conversation. Like    <em>shape</em>. Shape is vital to a visual work. But shape is also how music creates tension and then releases it. A good story or poem creates a narrative
    shape in your mind, leading you to the climax and then releasing that built up energy. A work of dance has a shape, both physically in the individual
    bodies of the dancers and as a whole, in the arrangement of all the bodies together on stage. In all of these cases, shape is not a metaphor, not just an
illustrative turn of phrase. <a href="http://artequalstext.aboutdrawing.org/trisha-brown/">You can draw</a> the actual shape    <a href="http://www.drawingcenter.org/en/drawingcenter/5/exhibitions/14/past/355/iannis-xenakis/">on a piece of paper</a>.
</p>
<p>
    This isn&#8217;t to argue that all forms of art should always be smooshed together. The language of each individual art form is unique and valuable. Each
    art form should be celebrated and enjoyed in its own right. First and foremost, we should regard them as different and separate. But ultimately, we should
    come to regard the art forms as different poles of a unity.
</p>
<p>
    <strong>Eight.</strong>
</p>
<p>
    &#8220;Oh God, Thy Sea is So Great and My Boat is So Small.&#8221;
</p>
<p>
    The Breton Fisherman&#8217;s Prayer proved to be a very useful secret message to pass through our game of Telephone. Firstly, it presents an easily
identifiable set of &#8220;objects,&#8221; little chunks of information to track throughout this network of artistic exchange. There&#8217;s the    <em>My, God, Thy, Sea, So Great, Boat</em>, and <em>So Small</em>.
</p>
<p>
    When evaluating blood flow through a patient&#8217;s body, doctors can inject radioactive tracers into veins so that the passage of those particles (and
    therefore the blood) can be measured visually. Think of the parts of this original message in the same way. They are markers by which you can track the
    changes through the hundreds and hundreds of ekphrastic exchanges that take place in Telephone.
</p>
<p>
    You can find <em><a href="/works/420">water</a></em> represented <em><a href="/works/46">everywhere</a></em> in Telephone. You can
track <em><a href="/works/18">humility</a></em> and <em><a href="/works/152">loneliness</a></em>. The concept of<em><a href="/works/84">birth</a></em> is found throughout the branches but so is    <em><a href="/works/74">death</a>. Many works struggle to depict "<a href="/works/13">vastness.</a></em>" In one of the early works,
&#8220;<em>God</em>&#8221; was translated as &#8220;<a href="/works/2">Stars</a>,&#8221; and so <a href="/works/254">stars</a> are    <a href="/works/256">everywhere</a>. One of the threads became about being <em><a href="/works/132">cold</a></em>. There&#8217;s a
sequence you can trace through twelve iterations and still find the <em><a href="/works/342">boat</a></em>, even a    <a href="/works/148">boat</a> made of old family photographs.
</p>
<p>
    But <em>accuracy</em> of translation is only one of the rubrics with which Telephone is concerned. <em>Mistranslation</em> is just as interesting. It's
    fascinating to examine a thread that <a href="/works/258">mutated</a> in totally <a href="/works/98">unpredictable</a> ways, veering
    off into <a href="/works/268">left field</a>, assuming its own agency. Part of the fun of Telephone is when the act of passing a message
    generates <a href="/works/422">strange</a>, <a href="/works/425">funny</a>, or <a href="/works/159">unexpected</a> results. I
    celebrate these <a href="/works/161">surprises</a> and am thankful for them.
</p>
<p>
    In the end, the Breton Fisherman&#8217;s Prayer also proved as an ideal secret message because it represents itself. The message speaks of a small ship on
    a great sea, and that&#8217;s also the function of this message. This little prayer represents a small boat that we have launched out upon a great,
turbulent, and unpredictable sea of artistic interpretation. The tiny, fragile boat of this message has now, very literally, travelled    <em>hundreds of thousands of miles</em>upon its journey. We threw a message-in-a-bottle out into the ocean, and hundreds and hundreds of bottles washed
    ashore in reply.
</p>
<p>
    <strong>Nine.</strong>
</p>
<p>
    I came to tears a number of times while working on this project. Mostly, it was due to the volume of response, which was a blessing too. I&#8217;d wake up
    in the morning and find 175 new emails in my inbox, and clutch my hair in despair. Really, this experiment should have been conducted by a major museum, by
    someone with a staff and funding, by someone with a modicum of experience. Sometimes I cried because I didn&#8217;t think that the project would ever get
    finished, that I had wasted years of my life and essentially lied to hundreds of people. I know that during the course of Telephone, my fellow Satellite
    Collective compatriots have endured similar moments of panic and depression.
</p>
<p>
    But, more often, I cried with honest-to-God joy. Almost every day, I&#8217;d find another brand new work of art in my inbox, sent in by a total stranger
    from Iran or South Africa or Germany or Mexico. Often, these works seemed almost telepathic in nature: they seemed to intuit parts of the original message
    that appear obscured or totally invisible in the preceding work. Usually, this would cause me to jump out of my chair at the kitchen table in astonishment,
    startling my poor little dog. Sometimes on my walk to work, I'd imagine hundreds of artists walking along the street with me, and leap in the air suddenly,
    shouting with laughter, drawing looks from passersby. But sometimes, it made me feel so tiny <em>and</em> huge that it brought me to tears.
</p>
<p>
    I hope Telephone is as illuminating for you as it has been for me. This little study of forms has given me a bit of hope in the Age of Infinite
    Information. Now, when I hear news on the radio about Tokyo or Tel Aviv or Berlin, I think, <em>Hey! I know somebody there</em>. When I feel overwhelmed by
    the mass, momentum, and velocity of global artistic output, and feel tired and unable to keep up, I find comfort in thinking that we&#8217;re all working
    on the same project in our own little ways. All of us, from Rumi to Michelangelo to Janis Joplin to the vast number unknown and under-celebrated artists,
    are right here in my kitchen, sharing a glass of wine, trying to figure out something vital and lasting.
</p>
<p>
    While one obvious conclusion of Telephone is that each of us draws our own conclusions, mine is this: we are infinitesimal and immense in equal measure.
    Each of us is simultaneously the Small Boat and the Great Sea, both lonely and never alone.
</p>
<p>
    Sometimes when you speak to the ocean, the ocean answers.
</p>