<h1>Telephone Game Essays</h1>

<h2>Elsewhere and in Everything</h2>
<div class="author">By Peter Crack</div>

<p>
    It is tempting to think of art as something of a non-contact sport. Resilient clich&#233;s spring to mind of isolated geniuses in their Parisian
    garrets. Although appealing, such romantic sentiments are perhaps lacking in nuance. Influence, or more accurately exchange, permeates our visual
    cultures. Indeed, art critics and historians spend lifetimes attempting, rightly or wrongly, to identify and unpick these convoluted networks.
</p>
<p>
    From a critical perspective, <em>Telephone</em> is unusual because we already know the precise path of dissemination. Art begets art, and each
    successive work in the chain is guaranteed agency. Because this structure produces ready-made canons, each with a different Giotto and Cezanne, the
    commentator&#8217;s job becomes less investigative and more interpretive.
</p>
<p>
    This reading has also benefited from the privilege of hindsight and overview. As commentators and consumers of art, we regularly seek out patterns and
    invent fictions. With this in mind, let me take you on a subjective journey through one particular strand.
</p>
<p>
    <strong><a href="/works/1" target="_blank">The Breton Fisherman</a></strong>
</p>
<p>
    The following works are, to my mind, rather poetic. Words not only bookend the strand, but also suffuse many of the individual stepping-stones along
    the way. The initial &#8220;seed&#8221; was sown with a prayer&#8212;the Breton Fisherman&#8217;s Prayer, to be precise.
</p>
<p>
    Oh God, Thy Sea is so Great and My Boat is so Small.
</p>
<p>
    This singular line is a particularly meek reaction to the sublime, which contrasts human frailty with a divine force. Scale is, presumably, used to
    suggest vulnerability and thereby encourage humility in the audience. The diminutive fisherman is twice humbled, once by a force of nature and then
    again by his creator. A sense of hierarchy and ownership is thus established: humanity resides very much at the bottom of the pile.
</p>
<p>
    However, although our Brythonic protagonist begs for protection, his boat&#8212;a symbol of human ingenuity&#8212;has already gone some way to tame the
    nature he professes to fear.
</p>
<p>
    Prayer itself is also a testament to human resourcefulness and a sophisticated projection of our thoughts and desires. The fact that these words still
    exist, and continue endure the erosion of time, also casts doubt upon our assumed vulnerability. After all, art has always provided a tantalizing means
    to immortality.
</p>
<p>
    <strong><a href="/works/2" target="_blank">Jana Weaver</a></strong>
</p>
<p>
    Jana Weaver&#8217;s ethereal painting somewhat subverts the scale established by the Breton&#8217;s prayer. Now thy sea is no longer as great as thy
    sky. Whether intended as a traditional or more symbolic deity, the vast and delicate cosmos that dominates this composition is an apt substitute for
    the Fisherman&#8217;s creator.
</p>
<p>
    Likewise, Weaver establishes her own chain of creation. The cosmos oversees an Eve-like figure, who in turn looks down on her own handiwork: a small
    paper boat. Unlike the Fisherman, her lament to God is not one of self-preservation, but for the protection of her offspring.
</p>
<p>
    Human vulnerability is still implied through the subject&#8217;s nakedness, but diverging from the source material, Weaver&#8217;s Eve does not appear
    to be in conflict with nature. There is, instead, a primal solace in her communion with the terrestrial elements. Perhaps fittingly, only her head (her
    knowledge) encroaches on the divine realm. This sense of interaction, belonging and origin evokes of our evolutionary links back to the seas, and
    before that, the stars. Indeed, it is tempting to equate the entire <em>Telephone</em> project with an evolutionary paradigm, but rather than survival
    of the fittest, the process is actually one of perpetual, and even somewhat arbitrary, transformation.
</p>
<p>
    <strong><a href="/works/5" target="_blank">Bob Holman</a></strong>
</p>
<p>
    Weaver&#8217;s painting does not depict &#8220;routine&#8221; human behavior as we would typically recognize it. Instead we perceive her
    protagonist&#8217;s actions as inherently ritualistic. Rituals are given significance in and above themselves through repetition and a tradition of
    repetition. Bob Holman&#8217;s poem, &#8220;Naked Night,&#8221; provides this sense of ritual with a cadence. The first line, &#8220;Not trying to
    impose,&#8221; beautifully illustrates the naked figure&#8217;s earthbound separation from her creation. Here, that offspring is now a secret, one that
    must be relinquished &#8220;To the stars themselves.&#8221; The Fisherman&#8217;s prayer was also aimed at the heavens. Indeed, all artists in the
    strand must follow suit and relinquish their creations to an unknowable fate.
</p>
<p>
    The poet also delights in juxtaposing the whimsical with the philosophical, sometimes within the same line. &#8220;The ocean wears a hat,&#8221; for
    example, is a wonderful description of a paper boat, bobbing like a hopeless and infinitesimal &#8220;fascinator&#8221; on the surface of the world.
</p>
<p>
    Perhaps a reflection of the <em>Telephone</em> process itself, Holman&#8217;s protagonist is an observer and a commentator, but a far from omniscient
    one. Lines such as, &#8220;If you know what I&#8217;m saying Cause I don&#8217;t,&#8221; playfully establish doubt and reflect on the semi-blind, and
    necessarily interpretive, nature of the piece.
</p>
<p>
    Holman goes on to state that, &#8220;The poem curves a line to you,&#8221; engaging with his role as an insider/outsider, as well as the process of
    dissemination and reciprocation. &#8220;Naked Night&#8221; includes a song within a poem, which is itself about a painting about a prayer. Holman was
    only privy to one section of this already elaborate chain, but the wider implications, inherent in the format, are here writ large and made double
    within the verse.
</p>
<p>
    Holman transforms his ethereal source material into a more human and structural meta-work. Weaver&#8217;s scene is first documented and then built upon
    by a curious, but unreliable, witness. Her half-remembered seashore ritual has become folklore, ready to be handed down and ripe for some distant
    recital.
</p>
<p>
    <strong><a href="/works/13" target="_blank">David Williams</a></strong>
</p>
<p>
    We frequently relate the experience of listening to music to a journey. This is perhaps because we typically consume songs within a linear temporal
    framework&#8212;think of a stylus migrating to the center of a record or the perpetual digital countdown on a stereo display. Whatever the reasons,
    David Williams&#8217; composition certainly adheres to this instinctive perception. He is not only the architect of an ambient and revelatory
    atmosphere, but also the conjurer of time, space, and movement within those constructs.
</p>
<p>
    In the context of this strand, Holman&#8217;s secret is now en route to the stars, and Williams takes us along for the ride. We traverse a meditative
    soundscape, part familiar and comforting, part alien and suspenseful. At around 7:15, we are brought back to shore. The meditative surroundings are
    then punctuated by indistinct, but identifiably human, sounds followed by a sudden burst of nature and a discordant bass.
</p>
<p>
    At this point in the journey, poetry, painting, and music certainly seem like contended bedfellows. Indeed, without wishing to relegate Williams&#8217;
    work to the role of soundtrack, I would urge listeners to combine his composition with previous, or perhaps even later, artworks in the strand. Reading
    Holman&#8217;s poem or gazing at Weaver&#8217;s painting whilst basking in Williams&#8217; aural glow makes for a transcendent experience.
</p>
<p>
    Music is perhaps the art form most adept at providing this sense of transplant and relocation. One of music&#8217;s primary functions was, and perhaps
    still is, to elicit an emotional or spiritual response. The composer can thus coerce a reaction. In this case, Williams&#8217; ocean of sounds
    functions rather like a wordless mantra, firmly cementing our suspicions that the artists here have left the everyday very far behind.
</p>
<p>
    <strong><a href="/works/18" target="_blank">Thomas Patterson</a></strong>
</p>
<p>
    Thomas Patterson&#8217;s enigmatic photographic essay marks a turning point in this strand. Translating or interpreting an instrumental composition is,
    inevitably, a rather subjective and non-literal process, thereby opening up the strand to wider themes. That said, there are still intriguing
    continuities. Water remains an important motif, as does movement or travel, but this time in a more literal sense.
</p>
<p>
    By taking us on a journey through the various scenes of an unknown drama, Patterson examines the sometimes-uneasy union between humanity and the
    landscape. In contrast to the passive Fisherman, who was subjected to the forces of nature at the hands of a potentially vengeful God, Patterson
    reveals our own ability to inflict violence, or at the very least intervene, in the landscape.
</p>
<p>
    Different materials mirror or clash&#8212;the untamed cliffs juxtapose with the regularity of the manmade bricks, which upon closer inspection, are
    undermined by their subtle state of ruin and abandon.
</p>
<p>
    A conspicuous metallic tube hints at what lies within this mysterious structure. Reminiscent of a Brutalist version of a seventeenth century Dutch
    interior, our curiosity is satiated and we are taken through the threshold. Inside, entropy is at work; our best-laid plans forsaken, our mighty
    industry rendered transient. But Patterson is not necessarily pessimistic. The giant and long-since defunct machinery confronts us with its own
    unselfconscious beauty.
</p>
<p>
    Patterson takes us nearer still, preempting our inevitable questions. The masculinity of the interior is tempered by graffiti resembling primitive
    petroglyphs. The scrawls are funny, touching, mundane, and irreverent, but above all, very human. These old machines bear the scars, or rather tattoos,
    of a life lived long after its apparent usefulness had expired.
</p>
<p>
    The journey continues, rather like a treasure hunt, or perhaps even a murder mystery. The final stop being a sublime waterfall and lagoon, which, were
    it not for the rather foreboding and serpentine tube, would seem utterly divorced from the semi-industrial landscapes that defined the previous
    photographs.
</p>
<p>
    Patterson&#8217;s d&#233;nouement has a redemptive quality. The humans here, perhaps the authors of the graffiti, do not clash with nature, but rather
    like Weaver&#8217;s Eve, connect with their surroundings. But still nagging doubts remain. What exactly has ended up in this Shangri-La from the old
    factory?
</p>
<p>
    <strong><a href="/works/33" target="_blank">Claire Burke</a></strong>
</p>
<p>
    Claire Burke crafts a story around Patterson&#8217;s journey. She acknowledges the lack of context and unfamiliarity of his landscapes. Her story takes
    place &#8220;Somewhere.&#8221;
</p>
<p>
    Her interpretation has a profound and lasting impact on the remainder of the strand. As will become apparent, what was once for me a serpentine tube is
    now clearly, and will remain, an elephant&#8217;s trunk.
</p>
<p>
    Burke eloquently equates our physical relics with the amorphous and subjective nature of memory. Lines, such as, &#8220;We built structures, Methods of
    working, Our own protected avenues to roam though,&#8221; reflect Patterson&#8217;s desolate factory, but could just as easily refer to the
    Fisherman&#8217;s boat or indeed all the subsequent acts of creation undertaken by the various artists in the strand.
</p>
<p>
    Rather than a symptom of decay, the line, &#8220;Declarations cut into metal You and I Forever,&#8221; charges the graffiti with new and emotional
    significance. The narrative thus takes us from the general to the specific, forming a love story of sorts. Burke focuses on the implied, but largely
    unseen, human occupation of the landscape. This state of abandon becomes a metaphor for the fragile and fleeting nature of our relationships and
    interactions.
</p>
<p>
    Patterson&#8217;s awe-inspiring waterfall now symbolizes the inescapability of our own memories and experiences, &#8220;I find you elsewhere and in
    everything.&#8221; This plaintive tone encapsulates the brooding, and occasionally disconcerting, ambiance in Patterson&#8217;s photographs.
    Burke&#8217;s expert turn of phrase carries the weight of these many-layered meanings with an exceptional economy of means.
</p>
<p>
    <strong><a href="/works/91" target="_blank">Michael Rau</a></strong>
</p>
<p>
    Michael Rau&#8217;s audiovisual piece centers on Sarah Mollo-Christensen&#8217;s verbatim performance of Claire Burke&#8217;s poem.
</p>
<p>
    Mollo-Christensen&#8217;s rendition is full of delicious menace. What had at first seemed melancholic is now thoroughly emphatic. Her forceful
    delivery, coupled with Rau&#8217;s dystopian soundtrack, contrasts with the softness of Burke&#8217;s words as they had appeared on paper. However, the
    monochrome aesthetic of text on &#8220;page&#8221; remains. The overall effect is intriguingly in tune with Patterson&#8217;s earlier clashes of
    industry with nature.
</p>
<p>
    The words, as they are presented on the screen, change almost imperceptibly from preemptive to subtitle to retrospective. This, coupled with
    Mollo-Christensen&#8217;s delivery, allows for different lines, such as &#8220;we meet your abundance, awestruck and terrified,&#8221; to stand out and
    be transformed in the minds of the audience.
</p>
<p>
    Rau&#8217;s approach subverts concepts of the autonomous author and work of art. The video format initially obscures the narrator, author, and director
    (for want of a better word), providing each with anonymity. Rau literally projects onto his performer, mirroring each artist&#8217;s process of
    interpretation and projection of what was previously a definitive artwork. The result is a compound and opaque experience, far removed from our comfort
    zone of the signed, dated, and authorized masterwork.
</p>
<p>
    This surreal and pleasingly disconcerting atmosphere crescendos and then suddenly shatters. Rau&#8217;s finale unexpectedly thrusts the viewer into a
    stark reality, consisting of a room, a performer, a crowd, a time, a place, and an emotion. This peek behind the curtain brings our otherworldly trip
    to an abrupt end.
</p>
<p>
    Performance art, such as Mollo-Christensen&#8217;s, is necessarily time and site specific: a subjective and fleeting experience for those present. Rau
    both acknowledges and subverts this reality by recording and modifying just one perception of one particular performance.
</p>
<p>
    <strong><a href="/works/189" target="_blank">Sole Majdalani</a></strong>
</p>
<p>
    The strand moves from Rau&#8217;s public sphere to Sole Majdalani&#8217;s more private realm. Her installation consists of an hermetically sealed
    environment, observable but ultimately out of reach. Twinkling celestial lights, reminiscent of Jana Weaver&#8217;s starry sky, crown the work. They
    pulsate, lighting up like ideas or sparks or imagination and then fade away like memories.
</p>
<p>
    We encounter the work layer-by-layer, interacting with Majdalani&#8217;s successive interventions between the panes of glass. The act of looking is
    made active and multifaceted. We are forced to seek out and uncover. The experience feels at once voyeuristic and intrusive, but also suffused with a
    sense of intrigue and discovery.
</p>
<p>
    Majdalani not only crafts a world it, but also preserves it. Her work is an archive, or perhaps the manifestation of a memory. She records,
    compartmentalizes, and conserves. Her resin ingots, containing plans, diagrams, and illustrations, are given emphasis and significance through their
    regimented display. Where Mollo-Christensen&#8217;s original performance was ephemeral, Majdalani&#8217;s work is enduring, her amber-bound secrets
    saved for posterity.
</p>
<p>
    These mysterious artifacts of human industry have a forceful and somewhat archeological appeal. Our relationship to the past is inexorably tied to such
    sporadic relics. By keeping us at arms length, Majdalani heightens our desire to uncover, expose, and possess. This half-glimpsed puzzle is an apt
    reminder of one of the common driving forces behind the very discipline of art history itself.
</p>
<p>
    <strong><a href="/works/286" target="_blank">Scott Pinkmountain</a></strong>
</p>
<p>
    The &#8220;final&#8221; artwork in any strand is somewhat burdened by an artificial sense of gravitas and culmination. Of course, each work was, at one
    moment in time, the &#8220;last&#8221; work. As such, it is perhaps be more prudent to consider these works as simply the latest in the chain.
</p>
<p>
    That said, Scott Pinkmountain&#8217;s poem more than lives up to any misguided sense of expectation and finality. The latest stop on this particular
    voyage is a journey in and of itself. Pinkmountain&#8217;s dense and verdant language touches on the vastness of time, relative to our own fleeting
    existence.
</p>
<p>
    But these unknowable infinities, these &#8220;spiral stairways&#8221; and &#8220;handmade nautili,&#8221; are in many ways constructs of our own
    design. Pinkmountain acknowledges that the seemingly perpetual march of time can be fractured by the &#8220;gravitied echoes&#8221; of a collective
    past.
</p>
<p>
    Pinkmountain deftly incorporates some of Burke&#8217;s words and motifs, which have persisted and evolved throughout the second half of this strand.
    Likewise, the environment forged by Majdalani is provided with a history and a timescale. Her avenues of crystalline resin are now &#8220;tunneled
    paths and covered canals.&#8221;
</p>
<p>
    The use of Burke&#8217;s elephant metaphor in both Pinkmountain&#8217;s poem and Majdalani&#8217;s installation is, paradoxically, rather human.
    &#8220;Once we were lumbering beasts,&#8221; writes Pinkmountain, &#8220;our grey armor heaving as we trumpeted wet dawn.&#8221; Elephants are loaded
    with symbolic meaning. They can be sacred, political, conspicuous, and powerful. They can also be melancholic and stoic&#8212;ultimately, they serve to
    remind us of ourselves.
</p>
<p>
    In one respect, Pinkmountain ends our journey through the strand and brings us back full-circle, with an alliterative and rhythmic passage that is
    satisfyingly reminiscent of Jana Weaver&#8217;s star spangled sky.
</p>
<p>
    Swirling day stars, storied constellations of blazing purple nothing.
</p>
<p>
    Here and throughout, experience and memory, past and present, coexist in the mind, &#8220;each a beating wing upon the same back.&#8221; There is a
    holistic thread to Pinkmountain&#8217;s poem, and indeed the entire strand, which seemingly seeks to reconcile the individual with the wider cosmos,
    our immediate environment, and also a semi-tangible past.
</p>