<% title 'Lindsey Allgood | TELEPHONE Essay | A Reflective Interpretation of The Telephone Project: The Fluid Body and its Sensuous Dialogue' %>
<% description 'Lindsey Allgood\'s TELEPHONE Essay | A Reflective Interpretation of The Telephone Project: The Fluid Body and its Sensuous Dialogue | TELEPHONE: An International Arts Experience Presented by Satellite Collective' %>
<% keywords 'art, game, international, experiment, nathan langston, daniel talsky, satellite collective' %>

<%= render "essay_nav" %>

<article class="essays">
    <div class="author"><a href="/works/293">Lindsey Allgood</a></div>
    <h1>A Reflective Interpretation of The Telephone Project: The Fluid Body and its Sensuous Dialogue</h1>
    
    <p>
        It is nothing new to say that art is alive. The Telephone Project takes this concept to a whole new level.
    </p>
    <p>
        A handful of artists received a line of a poem. They interpreted this work with whatever medium and in any capacity they chose. Then, these
        interpretations were sent to other artists to be interpreted again. Those interpretations were sent to even more artists, and so continued the project.
        Artists received no information or context of the work they received.
    </p>
    <p>
        What resulted was a multi-stranded collaborative narrative of connective tissue that essentially wove itself together through the hands and minds of
        artists. The project is an organic rhizome that continuously births new portions of itself, and consciously and incessantly expands outward, condenses,
        folds over itself, and every now and then, in its natural rhythm, returns to its original nucleus&#8212;a simple line of a poem.
    </p>
    <p>
        The impetus work that was sent to a handful of artists was a fragment of the poem &#8220;The Breton Fisherman&#8217;s Prayer&#8221;:
    </p>
    <p>
        &#8220;Oh God, Thy Sea is so Great and My Boat is so Small&#8230;&#8221;
    </p>
    <p>
        When the artists received this snippet, they needed to orient themselves within the text, as do the viewers of The Telephone Project. Consider the
        small boat as each artist and his or her artwork as a single droplet in a giant body of water, or a single cell in the larger Telephone organism.
    </p>
    <p>
        The finished works function like a school of fish. One big body made of little bodies. If one is eaten, or jets off in a different direction, the
        school must reorganize itself. I imagine what would happen if one work was pulled from the strand of works I witnessed. Would the forming narrative,
        the rhizomatic organism, simply crumble, as when a vertebrate is removed from a skeleton? Or would the narrative fill in the gap by itself? Replicate
        cells and heal itself like an open wound?
    </p>
    <p>
        Artists, critics and historians often refer to &#8220;an artist&#8217;s body of work.&#8221; The Telephone project flips this phrase on its head by
        assembling a &#8220;body of artists&#8221; for which the artists themselves are the very organs of a robust, living body of art.
    </p>
    <p>
        A body is a delicate, yet intensely social, creature. To call the whole of this project an organism means that the individual artworks constantly
        collide into and nudge each other inside the invisible membrane that flexibly holds the works together. Emotionally and psychologically, the works feed
        off each other. Every single work created resembles its predecessor, but develops its own genetic makeup and identity. Part of the joy of interpreting
        the strand of artworks as a viewer is knowing that these works are interconnected and symbiotic.
    </p>
    <p>
        When an artist received a work to interpret, the work came in the form of a severed appendage. The artist then had to choose how and where to stitch
        it, not only to the artist&#8217;s single work, but to the whole Telephone body. The artist did this by first adapting and attaching the work she
        received to her own creative process, like an improvised surgery.
    </p>
    <p>
        Each artist was allowed one month to complete her interpretation. Just as in the body&#8217;s digestive tract, the artist had to allow the provided
        artwork to settle and disperse through her in order for an idea to germinate. A curious ingestion took place within each artist when she was handed a
        nameless life in the form of a painting, prose, video or sound.
    </p>
    <p>
        As the artists chewed on the material, the textures of these works became potential flesh of the greater Telephone body. Viewers also have a vital role
        in The Telephone project: as they move through the images, the viewers begin to graft layers of the artworks together to formulate purpose and
        understanding. From thick swellings of paint and the smooth gloss of a photograph, to the rippling bumps of embroidery: each coat melts into the next,
        and separates again, as the viewer&#8217;s eye moves back and forth between two corresponding works. Each examination of a segment reveals new layers
        of relatedness, as the skins of the works coat each other and speak to each other in a thousand secret languages. It is now up to the viewer to
        decipher.
    </p>
    <p>
        While each individual artwork tells a story, there is an overarching mythology that emerges in many (if not all) layers of the Telephone organism. The
        following reflective portion of this essay offers my exploration of seven consecutive works by seven different artists in the project and the thematic
        veins I found that hold them together: water, sexuality, and the female body. It is important to remember that the artists had no contact with each
        other before, during or after the works&#8217; creation. These themes seemed to develop on their own as I moved through the works chronologically.
        Additionally, by the nature of this project, there is by no means one way to interpret the correlating works and their lush system of sense-making.
        This is simply one pathway.
    </p>
    <p>
        I began with <a href="/works/2" target="_blank">Jana Weaver&#8217;s painting</a> of a nude blonde woman, crouching by the sea,
        having sent a paper boat drifting off into the water towards the mountains. She watches the boat intently. The sky is splattered with multi-colored
        stars. This piece establishes a palette of images that will shape-shift, submerge, reappear, and evolve through the subsequent responses.
    </p>
    <p>
        One response to this piece is a poem titled <a href="/works/5" target="_blank">&#8220;Naked Night&#8221; by Bob Holman</a>.
        The poet infers a sexually feminine current, perhaps in response to the woman&#8217;s nudity in Weaver&#8217;s painting: &#8220;The way is pretty durn
        milky/ If you know what I&#8217;m saying/.&#8221; This line could reference a mother&#8217;s milk or semen. &#8220;Naked Night&#8221; suggests a call
        and response between two individuals, perhaps lovers. &#8220;Sing this one back to me...the poem curves a line to you/floats a word back.&#8221; To
        &#8220;sing&#8221; and to &#8220;float&#8221; as a &#8220;poem curves&#8221; are very delicate, sensuous actions. The poem itself becomes a supple
        thing, like the woman&#8217;s body.
    </p>
    <p>
        In response to the poem, I viewed <a href="/works/12" target="_blank">Casey Kelbaugh&#8217;s photograph</a> of another nude
        woman&#8217;s torso lying horizontally, facing away from us. A mountainous silhouette in the background, an orange sky with faint white dots as stars.
        Kelbaugh eliminates the literal element of water altogether, but there is fluidity to the woman&#8217;s curves and the shadows that cascade across and
        down her skin that allude to the sea in &#8220;Naked Night.&#8221; The human body is an ocean.
    </p>
    <p>
        I wondered, just because the visual element of water isn&#8217;t present, is water now absent from the work of art? From the viewer&#8217;s experience?
        To answer this question, the viewer must continue venturing through the strands of the Telephone project's web. Visually, we move from Weaver&#8217;s
        literal representation of an ocean, to Holman&#8217;s &#8220;poem that floats,&#8221; to a woman-as-sea embedded in a desert. While the visual of water
        is absent, cerebrally, the sea&#8217;s trace is still there, imprinted somewhere deep in the viewer&#8217;s consciousness.
    </p>
    <p>
        Here again enters the metaphor of a body of water as a human body, in particular, a female body: a constantly shifting, deep, and complex bioculture
        held together by shores of fleshy borders.
    </p>
    <p>
    In response to Kelbaugh&#8217;s photograph, James Yeh offers a piece of prose titled        <a href="/works/16" target="_blank">&#8220;You Wore a Mountain.&#8221;</a> In the story, the viewer is lying in bed next to a
        female lover who faces the other way, after having climbed a mountain together. The writer also lets the woman-as-sea evolve into woman-as-mountain.
        Instead of undulating waves, her curves become mountainous rolling arcs and crevices. Yeh&#8217;s prose mirrors this image of the woman&#8217;s body as
        topography: &#8220;Everything about you was mountainous&#8221;. There is frustration, emotional distance and pondering, as the narrator wants to be
        closer to the lover. The distance between the narrator and the sleeping woman is as vast as the sea between the first nude woman in &#8220;Naked
        Night&#8221; and the mountains beyond. This is the first time since the initial work that I saw the woman again as a human. She has morphed from human
        to sea, to mountain, and back again.
    </p>
    <p>
        At this point, I began to sense the circular, whirlpool nature of the interpretations. The body and its sensual elements seep to the surface and sink
        again, waiting in the subconscious depths of the artworks, waiting to rise once more in the form of paint or prose.
    </p>
    <p>
        In response to Yeh&#8217;s prose, <a href="/works/29" target="_blank">Molly Lowe created an ethereal sculpture</a> made of
        white sheets and pillowcases with various sticks suspending parts of the sheet like little tents. While the sculpture is suspended in a dirt hole, it
        seems to be floating on mossy water. There is a sense of Ophelia-esque death and loneliness in the image. I immediately think of sweaty sheets, the
        leftovers of love, fused with a Romantic portrait painting. Except the woman&#8217;s body is missing. She is now a ghost who once tossed and turned in
        this rumpled, wet, twisted bedding dress. She is stripped of a layer of skin, of the embodied experience. She is no longer an ocean, body or mountain,
        but a memory.
    </p>
    <p>
        The sheet sculpture extends the conversation occurring between the two frustrated lovers in &#8220;You Wore a Mountain.&#8221; Intimacy was once there,
        and now is molding, discarded, and washing away, as Yeh suggests with the line, &#8220;Such silence and cold there&#8230;&#8221;. I imagine the lovers
        in Yeh&#8217;s poem becoming exhausted from hiking and falling into bed, but the narrator awakens to find the lover has disappeared. The poem&#8217;s
        narrator looks down into the water and yearns to wrap up in what remains of the lover. But that can&#8217;t be, because the tone of both the prose and
        the sheet sculpture will not allow it&#8212;they both inhabit a subdued, ghostly hopelessness.
    </p>
    <p>
        <a href="/works/32" target="_blank">Rusty Santos&#8217; music piece &#8220;Peaking Blaze&#8221;</a>
        responds to the sheet sculpture. Subtle, calm, haunting sounds, a faint hissing, static that could be bubbling mist, or altered sounds of the tide
        infused with electronic drones. What strikes me the most is the eerie, otherworldly appeal of the music, the transmuting woman&#8217;s soundtrack that
        continues to play long after her disappearance into the watery depths. But in a sense, the sounds keep her essence alive. Perhaps the sound effects
        will raise the sheet out of the water, exposing her body like a magic trick in slow motion.
    </p>
    <p>
    In response to the music, I viewed        <a href="/works/58" target="_blank">a mixed media embroidery by the South African artist Sharleene Olivier</a> that explores
        bodily morphology in a physical sense. The 2D shapes are comprised of flesh and bone hues: dark charcoal grays, tans, and whites, and one tiny red
        knot. The image could be a primitive, faded cave painting of amphibious, nebulous beings&#8212;what resides on the mysterious, dark ocean floor.
        Creatures have giant empty eye sockets and large open mouths ready to engulf. A deep-sea monstrosity never witnessed by human eyes. And if you look
        closely, a series of white and beige waves of a sea.
    </p>
    <p>
        While listening to &#8220;Peaking Blaze&#8221; and examining the embroidery, I felt the creatures moving, maybe attempting to speak. I was underwater
        listening to the sonar of these evolving animals. In the image, all of their mouths stretch open, as if the music is speaking for&#8212;or from&#8212;
        these creatures. There is an ominous sense of death, reflecting the secrets beneath the hovering sheets. Chaos emerged at first glance except for the
        faint white stitches that outline each creature like placenta sacks that provide the only sense of order. The organisms&#8217; bodies seem to smear
        into little swirls and evaporate like dark fluids dispersing into water. One single bright red knot hovers on the middle right like a little drop of
        blood. I was reminded of birth and menstruation. Perhaps I was peering into a bizarre, primordial womb.
    </p>
    <p>
        In the seven works I experienced, the emotional and physical bodies of a woman are constantly transforming with the natural elements, in particular
        water. She has shown us that water can be a barrier, a blanket, a cradle, a grave, and a giver of life to the permeable mortal body. But, as
        Weaver&#8217;s painting shows, water is perhaps most importantly a liminal space, a transmitter of energy, and the synaptic space between two beings or
        entities. The woman wills her fragile paper boat to the sea in hopes that the sea will carry it towards a safer place. The inky, fluid space between
        the fetus-like creatures in Olivier&#8217;s piece provides distinction between the bodies and the extraneous fluid. Holman recognizes the vital vast
        land between &#8220;the recipients&#8221; and the floating poem&#8217;s message.
    </p>
    <p>
        This liminality is also the necessary space in which the artists are free to interpret each other&#8217;s works and to maintain a curious silently
        flowing dialogue that holds together The Telephone Project&#8217;s integrity. The vulnerable and visceral aura of the liquid and bodily subject matter
        reflects the evolving, responsive nature of Telephone&#8217;s giant web: the body and its system in flux, the transformative and ethereal nature of a
        living organism and the fluids that contain/carry it. These themes not only reveal themselves in this strand of works; they provide a valid framework
        through which to access The Telephone Project, which is in itself a living nervous system. Of course, this is only a tiny snippet of the possibility of
        this massive map. A bit of my chosen path. I am willing to wager that these themes will be somewhere&#8212;embedded, or surfaced, however abstract,
        minute or obvious&#8212;in every single pathway through The Telephone Project&#8217;s constant body.
    </p>
</article>
