<h1>Telephone Game Essays</h1>

<ul>
    <li>
        <a href="/pages/essay_nathan_langston/">
            <div class="essayTitle">Telephone: An Introduction to a Game of Forms</div>
            <div class="essayAuthor">By Nathan Langston</div>
        </a>
    </li>
    <li>
        <a href="/pages/essay_peter_crack/">
            <div class="essayTitle">Elsewhere and in Everything</div>
            <div class="essayAuthor">By Peter Crack</div>
        </a>
    </li>
    <li>
        <a href="/pages/essay_lindsey_allgood/">
            <div class="essayTitle">A Reflective Interpretation of The Telephone Project: The Fluid Body and its Sensuous Dialogue</div>
            <div class="essayAuthor">By Lindsey Allgood</div>
        </a>
    </li>        
</ul>
