<section class="pagesInfoPane">
  <nav class="pagesNavList">
    <a class="homeLink" href="/">
        Home
    </a>
  </nav>
</section>

<article class="pageContent">
    <h1>Links</h1>
    
    <h2>Press</h2>
    
    <ul>
        <li><a href="http://satellitecollective.org">The New York Times Article</a></li>
        <li><a href="http://satellitecollective.org">Harpers</a></li>
    </ul>
    
    <h2>Affiliations</h2>
    
    <ul>
        <li><a href="http://satellitecollective.org">Satellite Collective</a></li>
    </ul>
    
</article>
