<% title 'Links and TELEPHONE Resources' %>
<% description 'Links to related organizations and people | TELEPHONE: An International Arts Experience Presented by Satellite Collective' %>
<% keywords 'art, game, international, experiment, nathan langston, daniel talsky, satellite collective' %>

<section class="pagesInfoPane">
  <nav class="pagesNavList">
    <a class="homeLink" href="/">
        Home
    </a>
  </nav>
</section>

<article class="pageContent">
    <h1>Links</h1>
    
    <h2><a href="http://satellitecollective.org/" target="_blank">Satellite Collective</a></h2>
    
    <p>
        That&#8217;s us. We&#8217;re an artistic non-profit, focused on generating collaborative and interdisciplinary works of performance and publication. Led by
        Artistic Director, <a href="http://satellitecollective.org/HEADSHOT%20Kevin%20Draper.html"  target="_blank">Kevin Draper</a>.
    </p>
    
    <h2><a href="http://transmission.satellitepress.org/">Satellite Press: Transmission</a></h2>
    <p>
        Our online arts journal aims to shed light on the collaborative process of the Collective and bring in fresh voices from the outside. We seek to publish
    the best, brightest voices and commentary about art and its processes. Led by Executive Editor,    <a href="http://transmission.satellitepress.org/VOLUME/002/ISSUE/005/contributors/">Janice Kidd</a>.
    </p>
    
    <h2><a href="https://satelliteensemble.bandcamp.com/">Satellite Ensemble</a></h2>
    <p>
        
        This is our in-house chamber orchestra, an assembly of forward-thinking composers and musicians. Creating scores for ballet, modern dance, and film, as
        well as stand-alone song cycles, the Ensemble is a new kind of band. Led by Music Director, <a href="http://nickjaina.com/">Nick Jaina</a>.
    </p>
    
    <h2><a href="http://www.wooloo.org/">Wooloo.org</a></h2>
    
    <p>
        So many artists found their way to TELEPHONE through Wooloo. Based in Copenhagen, this site is a hub for artists seeking open calls and institutions
        posting them. Founded in 2002 by Martin Rosengaard, Sixten Kai Nielsen, and Russell Ratshin, this network consists of more than 32,000 arts professionals
        in 140 countries. These guys are taking huge problems head-on.
    </p>
    
    <h2><a href="http://slideluck.com/"><strong>Slideluck</strong></a></h2>

    <p>
        A combination of a slideshow and a potluck, held in locations all over the world, Slideluck&#8217;s parties are special opportunities to connect in person,
        sharing art and meeting like-minded artists. Slideluck and its Founder &amp; Chairman, Casey Kelbaugh, have provided Satellite with invaluable advice,
        support, and encouragement. This inspiring company makes the world a little less lonely.
    </p>
    
    <h2><a href="http://www.bam.org/">Brooklyn Academy of Music</a></h2>
    
    <p>
        Not only was Satellite&#8217;s last season performed at BAM&#8217;s <a href="http://www.bam.org/visit/fishman-space">Fishman Space</a>, we&#8217;re
        currently enrolled in their Professional Development Program. In conjunction with the
        <a href="https://www.google.com/webhp?sourceid=chrome-instant&amp;ion=1&amp;espv=2&amp;ie=UTF-8#q=devos%20institute%20of%20arts%20management">
            Devos Institute of Arts Management
        </a>
        , this 9-month program provides mind-blowing development training for young arts companies. We are deeply thankful for the expert guidance and wisdom they
        have shared with us. We can&#8217;t wait to get back into the Fishman Space again this September for our 2015 performance season!
    </p>
    
    <h2><a href="http://www.dogwoodcenter.com/">Dogwood Center for the Performing Arts</a></h2>
    
    <p>
        For five years, we have been holding our annual summer residency in the beautiful town of Fremont, Michigan, at the Dogwood Center. This theater is
        state-of-the-art and their staff, administrators, and volunteers have become like family to us. Funded in part by the Fremont Area Community Foundation,
        the Dogwood has afforded us the opportunity to experiment and grow in an environment we couldn&#8217;t get anywhere else. Big shout out to the Gerber House
        as well for housing our artists year after year.
    </p>
    
    <h2><a href="http://www.lorarobertson.com/lorarobertson.com/Welcome.html">Lora Robertson</a></h2>
    
    <p>
        She&#8217;s one of the founding members of Satellite Collective and has recently had her work picked up by the Grand Rapids Art Museum. As our Visual
        Director, Lora makes sure that we look good. And guess what? We look good.
    </p>
    
    <h2><a href="http://www.stirlingbaker.com/">Brandon Sterling Baker</a></h2>
    
    <p>
        He&#8217;s one of the founding members of Satellite Collective and our resident lighting designer. He&#8217;s also BLOWING UP! Seriously. Who can keep up?
    </p>
    
    <h2>
        <a href="http://www.psychicbunny.com/">Psychic Bunny</a>
    </h2>
    
    <p>
        This Los Angeles-based creative studio brings a strong sense of narrative and visual storytelling to all of their projects. These guys do commercials,
        videogames, virtual reality, stadium shows in Seoul, apps, feature length films&#8230; it&#8217;s just always so nice when an ambitious outfit can maintain
        its sense of humor.
    </p>
    <h2>
        <a href="http://www.92y.org/">92/Y</a>
    </h2>
    <p>
        The 92<sup>nd</sup> Street Y has been a NYC cultural institution of the highest order for 140 years. All the greats of New York artistic history have
        passed through this hallowed hall and we consider it a deep honor to be among their number. <a name="_GoBack"></a>
    </p>
</article>
