<section class="pagesInfoPane">
  <nav class="pagesNavList">
    <a class="homeLink" href="/">
        Home
    </a>
  </nav>
</section>

<article class="pageContent">
    <h1>People Who Helped With Telephone Game</h1>
    

    <p>
        <strong>The Satellite Collective Board</strong>
        and <strong>the TELEPHONE Work Group</strong> would like to thank the following Corporate Partners and Individual Donors. Your support was vital for
        making <strong>TELEPHONE</strong> a reality and you have our deepest gratitude. This would have been impossible without your selfless generosity and
        encouragement.
    </p>

    <p>
        <em>
        Would you like to be a supporter of Telephone Game, or just be kept in touch about interesting developments in the project?
        <!-- vendini --> 
        <a href="https://www.vendini.com/ticket-software.html?j=5e7dc8f0af6a5090e0df74b0266f6bfe&t=join" onclick="window.open('https://www.vendini.com/ticket-software.html?j=5e7dc8f0af6a5090e0df74b0266f6bfe&t=join', 'order_window', 'scrollbars,width=611,height=510,status=yes,left='+((window.screen.width - 611)/2)+',top='+((window.screen.height - 510)/2.5)).focus();return false;" onMouseOver="window.status='Join Now!';return true;"     onMouseOut="window.status='';return true;">Sign up for the Telephone Game mailing list.</a>
        <!-- /vendini -->
        </em>
    </p>

    <h2>PARTNERS</h2>

    <p>
        <a href="http://wooloo.org" target="_blank">Wooloo.org</a>
    </p>
    <p>
        <a href="http://slideluck.com/" target="_blank">Slideluck</a>
    </p>
    <p>
        <a href="http://www.bam.org/?gclid=Cj0KEQjwl_6oBRDHxNGz6ueJufMBEiQAvm_k_hARyg8jpNMUQYA_fEDsMHMNwcRKsxSJpEnG5ed3WC0aApXY8P8HAQ#Dance" target="_blank">
            Brooklyn Academy of Music
        </a>
    </p>
    <p>
        <a href="http://www.boweryartsandscience.org/" target="_blank">Bowery Poetry Club</a>
    </p>
    <p>
        <a href="http://www.dogwoodcenter.com/" target="_blank">Dogwood Center</a>
    </p>
    <p>
        <a href="http://facommunityfoundation.org/" target="_blank">Fremont Area Foundation</a>
    </p>
    <p>
        <a href="http://www.psychicbunny.com/" target="_blank">Psychic Bunny</a>
    </p>
    <h2>DONORS</h2>
    <p>
        Nancy Langston
    </p>
    <p>
        Psychic Bunny
    </p>
    <p>
        Rick Castaneda
    </p>
    <p>
        Chalan Colby
    </p>
    <p>
        Tasha Castaneda
    </p>
    <p>
        Carol Dabrowiak
    </p>
    <p>
        Amanda Kleinberg
    </p>
    <p>
        Young Min Choi
    </p>
    <p>
        Kevin Draper
    </p>
    <p>
        Shelly McIntyre
    </p>
    <p>
        Diane Purgiel
    </p>
    <p>
        Todd Merrill
    </p>
    <p>
        Atomic Elroy
    </p>
    <p>
        William Joersz
    </p>
    <p>
        Henry Brown
    </p>
    <p>
        Lynn Katsumoto
    </p>
    <p>
        Laurie R. Lucas
    </p>
    <p>
        Esther Adler
    </p>
    <p>
        Stefan Steil
    </p>
    <p>
        Ingrid Langston
    </p>
    <p>
        Carol Hall
    </p>
    <p>
        Matthew Reid
    </p>
    <p>
        William Baran-Mickle
    </p>
    <p>
        Nacxi Gaxiola
    </p>
    <p>
        Emily Gaddam
    </p>
    <p>
        Theresa Vibberts
    </p>
    <p>
        Jennifer McColloch
    </p>
    <p>
        Sara Morris
    </p>
    <p>
        Gavin Benjamin
    </p>
    <p>
        Veruschka Thomason
    </p>
    <p>
        Olin Berger
    </p>
    <p>
        Ben Hoffman
    </p>
    <p>
        Andreas W. Ueland
    </p>
    <p>
        Julie Upmeyer &amp; Anne Weshinskey
    </p>
    <p>
        Olivia Pepper
    </p>
    <p>
        Bonnie Serkin
    </p>
    <p>
        Sue &amp; Bill Russell
    </p>
    <p>
        Wendy M. Walker
    </p>
    <p>
        Michelle Penaloza
    </p>
    <p>
        Todd Bryant
    </p>
    <p>
        Pat Campbell
    </p>
    <p>
        Sean McGrath
    </p>
    <p>
        Liane Brakke-Pound
    </p>
    <p>
        Janet Dindia
    </p>
    <p>
        Keri and Alejandro Casteneda
    </p>
    <p>
        Katie Hanson
    </p>
    <p>
        Tino &amp; Sue Castaneda
    </p>
    <p>
        Terry De Lavallade
    </p>
    <p>
        Gigiperforma
    </p>
    <p>
        Margie Berger
    </p>
    <p>
        Lindsay King
    </p>
    <p>
        Francesca Wilmott
    </p>
    <p>
        Erika Fairman
    </p>
    <p>
        Pamela Hart
    </p>
    <p>
        Alex Moore
    </p>
    <p>
        Emily Katz
    </p>
    <p>
        Karla McGee
    </p>
    <p>
        Fawn McGee
    </p>
    <p>
        Tara Brown
    </p>
    <p>
        Tatiana Ryckman
    </p>
    <p>
        Nina Meledandri
    </p>
    <p>
        Kimberly
    </p>
    <p>
        Stephen Miller
    </p>
    <p>
        C.A. Nitsche
    </p>
    <p>
        Nathalie Miller
    </p>
    <p>
        Ariel Phillips
    </p>
    <p>
        Nancy Medina
    </p>
    <p>
        Holly Shen
    </p>
    <p>
        Dylan miller
    </p>
    <p>
        Victoria Brown
    </p>
    <p>
        Emily Sessions
    </p>
    <p>
        John Whaley
    </p>
    <p>
        Susan R. Grossman
    </p>
    <p>
        Manuel Vignoulle
    </p>
    <p>
        Trula Acena
    </p>
    <p>
        Lora Robertson
    </p>
    <p>
        Claire Espey
    </p>
    <p>
        Julia Haav
    </p>
    <p>
        Matt Dabrowiak
    </p>
    <p>
        Michelle Morse
    </p>
    <p>
        Casey Kelbaugh
    </p>
    <p>
        Smalls
    </p>
    <p>
        Tessa Winiarski
    </p>
    <p>
        Michelle Gross
    </p>
    <p>
        Michelle King
    </p>
    <p>
        Martha Grover
    </p>
    <p>
        Jennifer
    </p>
    <p>
        Edna Cantoral Acosta
    </p>
    <p>
        Daniel Wilson
    </p>
    <p>
        Ivana
    </p>
    <p>
        Ann Clark
    </p>
    <p>
        FIA for Dance Heginbotham
    </p>
    <p>
        Mo McFeely
    </p>
    <p>
        Sean Miller
    </p>
    <p>
        Jenny Radulesk
    </p>
    <p>
        Irene
    </p>
    <p>
        TJ
    </p>
    <p>
        Rachel Nackman
    </p>
    <p>
        Jonathan Harford
    </p>
    <p>
        Katie Hope
    </p>
    <p>
        Adelos Media
    </p>
    <p>
        Joe Stratton
    </p>
    <p>
        Jeevan Singh
    </p>
    <p>
        Tamara
    </p>
    <p>
        Robin Dunn
    </p>
</article>
