<section class="pagesInfoPane">
  <nav class="pagesNavList">
    <a class="homeLink" href="/">
        Home
    </a>
  </nav>
</section>

<article class="pageContent">
    <h1>People Who Helped With Telephone Game</h1>
    
    <h2>Bowery Poetry Thing</h2>
    
    <p>
    They helped.  Here's some copy about how and some links.  
    </p>
    
    <h2>Someone Else</h2>
    
    <p>
    They also helped.
    </p>
</article>
