<h1>Curated Tours</h1>

<table>
  <thead>
    <tr>
    	<th>Tour Author</th>
			<th>Tour Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @curated_tours.each do |curated_tour| %>
      <tr>
      	<td><%= curated_tour.tour_author %></td>
				<td><%= curated_tour.tour_name %></td>
        <td><%= link_to 'Show', curated_tour %></td>
      </tr>
    <% end %>
  </tbody>
</table>

