/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
$telephoneRed: #CB213E;

body { font-family: Corbel, Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;}
figure#logo { margin: 0 0 20px 20px; }

a {
  color: $telephoneRed;
  text-decoration: none;
  &:hover { color: #510D1A }
}


nav {
  ul {
    border: 0;
    padding: 0;
    list-style-type: none;
    li {
      float: left;
      margin-left: 20px;
      a {
        font-size: 24px;
      }
    }
  }
}

.main { padding: 20px; padding-top: 2px; clear: both;}

h1 {
  margin-left: -22px;
  padding: 6px 0 6px 20px;
  background: $telephoneRed;
  color: white;
  font-weight: normal;
}

table {
  th {
    text-align: left;
    padding: 3px;
  }
  td {
    padding: 3px;
  }
}

/*
  Tour stuff
*/

div.curator {
  margin-top: -1em;
  margin-bottom: 1em;
}

ul.experienceTheWork {
  list-style: none;
  
  li.md div.md-work{ 
    text-align: left;
    border: 1px solid #ccc; 
    padding: 15px; 
    font-size: 16px;
    
    pre,code{
      margin: 0;
      padding: 0;
      font-family: inherit;
    }  
  }
}



ul#tourStopWorks {
  margin: 0;
  padding: 0;
  width: 750px;
  text-align: center;
}

nav#tourStops {
  position: relative;
  height: 1.6em;
  width: 750px;
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 18px;
  background-color: #eee;
  
  #stepCount {
    text-align: center;
    position: absolute;
    width: 750px;
    top: .1em;
  }
  #tourStepBack {
    width: 200px;
    position: absolute;
    text-align: left;
    top: .1em;
    left: .1em;
  }
  #tourStepNext {
    width: 200px;
    position: absolute;
    right: .1em;
    text-align: right;
    top: .1em;
  }
}

section#tourStopCaption {
  width: 750px;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 21px;
  text-align: center;
  margin-bottom: 1em;
}

