<nav>
    <ul>
        <!-- Left Column -->
        <li id="startAtTheBeginning"><a href="/works/1">Begin</a></li>        
        <li id="treeView"><a href="/works/tree">Treeview</a></li>
        <li id="browse"><a href="/works/by_medium">Browse</a></li>
        <li id="tour"><a href="/curated_tours/1/curated_tour_stops/1">Tour</a></li>
        
        <!-- Right Column  -->
        <li id="about"><a href="/pages/about">About</a></li>  
        <li id="essays"><a href="pages/essays">Essays</a></li>    
        <li id="links"><a href="/pages/links">Links</a></li>
        <li id="sponsors"><a href="/pages/sponsors">Sponsors</a></li>                                                  
    </ul>
</nav>

<a id="homeLogoLink" href="http://satellitecollective.org" target="_blank"></a>

<section id="telephoneSatelliteCollective">
    <h1>TELEPHONE: An International Arts Experiment</h1>
    <h2><a href="http://satellitecollective.org" target="_blank">Presented by the Satellite Collective</a></h2>
</header>

