<nav>
    <ul>
        <li id="aboutTelephone"><a href="#">About Telephone</a></li>
        <li id="wanderAround"><a href="#">Wander Around</a></li>
        <li id="mapOfTheWorks"><a href="#">Map Of The Works</a></li>
        <li id="curatedTours"><a href="#">Curated Tours</a></li>
        <li id="webLinksYouCanUse"><a href="#">Web Links You Can Use</a></li>
        <li id="telephoneSponsors"><a href="#">Telephone Sponsors</a></li>                                        
    </ul>
</nav>
<!--
<h1>Welcome to The Telephone Game Online</h1>
<ul>
    <li><a href="/works/1">view starting with the root work</a> </li>
    <li><a href="/works/tree">tree view of all works</a></li>
    <li><a href="/artists/">list of artists</a></li>
    <li><a href="/works/">list of works</a></li>
    <li><a href="/curated_tours/1/curated_tour_stops/1">curated tour</a></li>  
    <li><a href="http://telephone.satellitepress.org/TELEPHONE_Strategy_1.pdf" target="_blank">design concept</a></li>  
    <li><a href="/admin/">administrative interface</a></li>
</ul>
-->
