<h1>The Telephone Game</h1>
<ul>
    <li><a href="/works/1">root work</a> </li>
    <li><a href="/works/tree">tree view</a></li>
    <li><a href="/artists/">artist list</a></li>
    <li><a href="/works/">works list</a></li>
</ul>
