<nav>
    <ul>
        <li id="startAtTheBeginning"><a href="/works/1">Begin</a></li>
        <li id="browseByMedium"><a href="/works/by_medium">By Medium</a></li>
        <li id="curatedTours"><a href="/curated_tours/1/curated_tour_stops/1">Tour</a></li>
        <li id="treeView"><a href="/works/tree">Treeview</a></li>
        <li id="essays"><a href="pages/essays">Essays</a></li>        
        <li id="about"><a href="/pages/about">About</a></li>                                        
    </ul>
</nav>